.newCheckbox {
  font-family: sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.newCheckbox__title {
  margin: 5px;
}

.newCheckbox__checbox {
  position: absolute;
  opacity: 0;
}

.newCheckbox__checbox:checked + .newCheckbox__label::after {
  left: 13px;
}

.newCheckbox__checbox:checked + .newCheckbox__label::before {
  background-color: var(--lightgreen);
}

.newCheckbox__checbox:focus + .newCheckbox__label::after,
.newCheckbox__checbox:focus + .newCheckbox__label::before,
.newCheckbox__checbox:focus + .newCheckbox__label {
  border-width: 2px;
  font-weight: 700;
}

.newCheckbox__label {
  margin: 10px 0 10px;
  padding-left: 35px;
  cursor: pointer;
  display: block;
  position: relative;
}

.newCheckbox__label::before,
.newCheckbox__label::after {
  content: "";
  border: solid 1px var(--medium);
  box-sizing: border-box;
  display: inline-block;
}

/*quadrado maior*/
.newCheckbox__label::before {
  position: absolute;
  width: 26px;
  height: 15px;
  border-radius: 30px;
  left: 0;
  top: 2.5px;
}

/*quadrado menor*/
.newCheckbox__label::after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 0;
  top: 2.5px;
}

.newCheckbox__span {
  font-size: 0.5rem;
  position: relative;
}

.newCheckbox__span--off {
  position: absolute;
  top: -40px;
  left: -4px;
}

.newCheckbox__span--on {
  position: absolute;
  top: -40px;
  left: 20px;
}

.newCheckbox__label--html {
  color: var(--html);
}

.newCheckbox__label--html::before,
.newCheckbox__label--html::after {
  border-color: var(--html);
}

.newCheckbox__label--html::after {
  background-color: var(--html);
}

.newCheckbox__label--css {
  color: var(--css);
}

.newCheckbox__label--css::before,
.newCheckbox__label--css::after {
  border-color: var(--css);
}

.newCheckbox__label--css::after {
  background-color: var(--css);
}

.newCheckbox__label--javascript {
  color: var(--javascript);
}

.newCheckbox__label--javascript::before,
.newCheckbox__label--javascript::after {
  border-color: var(--javascript);
}

.newCheckbox__label--javascript::after {
  background-color: var(--javascript);
}
